@font-face {
    font-family:Poppins-Light;
    src: url('Poppins/Poppins-Light.ttf');
    font-family: Poppins-Medium;
    src: url('Poppins/Poppins-Medium.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins-Medium;
    background-color: white;
}
/* this is header */
#Builder{
    color: #030f27;
    font-family: Poppins-Medium;
    font-size: 30px;
    padding-left: 10px;
    display: inline;
    padding-left: 25px;
    padding-right: 250px;
}
#d1{
    width: 100%;
    display: flex;
    background-color:#fdbe33;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100px;
}
.data1{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 10px;
    margin: 20px;
    align-content: space-around;
}
.data1 img{
    width: 60px;
    padding-right: 5px;
}
/* this is navbar */
#d2{
    width: 100%;
    display: flex;
    background-color:#030f27;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80px;
    position:sticky;
    top: 0px;
    z-index: 1;
}
#data2{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
a{
    display: flex;
    margin: 10px;
    color: white;
    text-decoration-line: none;
}
a:hover{
    color: #fdbe33;
}
a:active{
    color: #fdbe33;
}
#b1{
    display: flex;
    align-content: flex-end;
    padding-right: 30px;
}
#button1{
    font-size: 20px;
    border-radius: 0%;
    padding: 10px;
    border: 2px solid white;
    color: white;
    background-color:#030f27 ;
    width: 150px;
    align-content: center;
}
#button1:hover{
    border: 2px solid #fdbe33;
    background-color: #fdbe33 ;
    color: black;
    cursor: pointer ;
}
/* this is big image */
#d3{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color:#fdbe33;
    height: 300px;
    margin: 0px auto;
    padding: 0px;
}
#builder{
    width: 40%;
    margin: 0px auto;
    font-size: 70px;
    color: #030f27;
    text-align: center;
}
#builder2{
    font-size: 20px;
    color: #030f27;
    text-align: center;
}
.UN{
    color: #030f27;
    display: inline;
}
.UN:hover{
    color:white;
    display: inline;
}
/* this is info */
#d4{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: static;
    height: 200px;
    align-items: center;
    background-color:#030f27 ;
}
.t21{
    display: flex;
    background-color: #030f27;
    color: #fdbe33;
    justify-content: center;
}
.t22{
    background-color: #fdbe33;
    color:#030f27;
    justify-content: center;
}
.content{
    display: flex;
    padding: 40px;
}
.content img{
    height: 80px;
    width: 80px;
    padding: 20px;
}
.content span{
    font-size: 30px;
}
/* this is about */
#div5{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}
#Image3{
    height: 510px;
    width: 430px;
}
.content1{
    width: 650px;
    padding: 20px;

}
.content1 h1{
    font-size: 50px;
    color:#030f27 ;
}
.content1 h3{
    color: #fdbe33; 
}
.content1 p{
    margin-top: 20px;
}
#button3{
    margin-top: 20px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 0%;
    padding: 10px;
    border: 2px solid #fdbe33;
    color:#030f27;
    background-color:#fdbe33;
}
#button3:hover{
    padding: 15px;
    border: 2px solid #030f27;
    background-color: #030f27;
    color: #fdbe33;
    cursor: pointer ;
}
/* this is running */
#d6{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: static;
    height: 200px;
    align-items: center;
}
.t23{
    width: 25%;
    display: flex;
    background-color: #030f27;
    color: #fdbe33;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.t24{
    width: 25%;
    display: flex;
    background-color: #fdbe33;
    color:#030f27;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.content2{
    display: flex;
}
.content2 img{
    height: 80px;
    width: 80px;
    padding: 20px;
}
.content2 span{
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
}
.content2 p{
    padding-bottom: 20px;
}
/* services */
#d7{
    width: 100%;

    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    height: 300px;
}
.data21 h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fdbe33;
}
.data21 span{
    font-size: 50px;
    color: #030f27;
    font-weight: bold;
}
/* this is images */
.d8{
    padding-top: 20px;
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.IMG5{
    width: 360px;
    height: 420px;
}
.data44{
    margin-top: -7px;
    display: flex;
    height: 50px;
    background-color: #030f27;
    color:#fdbe33;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
}
.data44 button{
    display: flex;
    font-size: 50px;
    background-color:#fdbe33;
    border: 1px solid #fdbe33;
    color: #030f27;
    height: 50px;
    width: 50px;
    align-items: center;
    border-collapse:collapse;
    justify-content: center;
    align-content: flex-end;
}
button:hover{
    display: flex;
    color: white;
}
/* this is video */
.d9{
    width: 100%;
}
#vid1{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 500px;
}
/* our engineers */
#d10{
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    height: 150px;
}
.data22 h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fdbe33;
}
.data22 span{
    font-size: 50px;
    color: #030f27;
    font-weight: bold;
}
/* these is images */
.d11{
    padding-top: 20px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    height: 410px;
    flex-direction: row;
    justify-content: space-evenly;
}
.d91{
    padding-top: 20px;
    padding-: 50px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    height: 410px;
    flex-direction: row;
    justify-content: space-evenly;
}
.IMG6{
    width: 260px;
    height: 300px;
}
.data45{
    margin-top: -7px;
    height: 50px;
    background-color: #030f27;
    color:white;
    padding: 20px;
    text-align: center;
}
.data45:hover{
    background-color: #fdbe33;
    color: #030f27;
}
/* Questions */
#d12{
    width: 100%;
    padding-top: 50px;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    height: 150px;
}
.data46 h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fdbe33;
}
.data46 span{
    font-size: 50px;
    color: #030f27;
    font-weight: bold;
}
/* these are questions */
#d13{
    width: 70%;
    margin: 0px auto;
    padding-bottom: 50px;
}
.f1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.f1 p{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.103);
}
.f1 p span{
    display: block;
    color: #fdbe33;
}


/* thsese are clients */
#d14{
    width: 100%;
    padding-top:50px;
    text-align: center;
    height: 500px;
    background-image: linear-gradient(#030f27e6, rgba(3, 15, 39, .9)),url(./Images/carousel-1.jpg);
}
#test{
    border-radius: 100px;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
}
#data55{
    color: white;
}
#data55 h3{
    color:#fdbe33;
    font-size: 30px;
    letter-spacing: 2px;
}
#data55 span{
    font-style: oblique;
}
#data55 p{
    margin: 0px auto;
    width: 55%;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
/* latest from blog */
#d15{
    width: 100%;
    padding-top: 50px;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    height: 150px;
}
.data56 h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fdbe33;
}
.data56 span{
    font-size: 50px;
    color: #030f27;
    font-weight: bold;
}
/* this is blogger */
.d16{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.IMG7{
    width: 330px;
    height: 260px;
    image-rendering: optimizeQuality;
}
.data57{
    font-weight: bold;
    margin-top: -7px;
    display: flex;
    height: 50px;
    background-color: #030f27;
    color:#fdbe33;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
    text-align: center;
}
.data58{
    text-align: center;
    width: 330px;
    background-color: #f3f6ff;
    padding-top: 20px;
}
.data58 p{
    font-style: oblique;
    border-bottom: 1px solid #fdbd33b6;
}
.data58 p a{
    display: inline;
    color: black;
    font-style: normal;
}
.data58 p a:hover{
    color: #fdbe33;
}
.data58 hr{
    display: flex;
    width: 100px;
    color:#fdbe33 ;
}
.b87{
    display: flex;
    font-size: 50px;
    background-color:#fdbe33;
    border: 1px solid #fdbe33;
    color: #030f27;
    height: 50px;
    width: 50px;
    align-items: center;
    border-collapse:collapse;
    justify-content: center;
    align-content: flex-end;
}
.b87:hover{
    display: flex;
    color: white;
}
/* this is footer */
#d17{
    width: 100%;
    display: flex;
    background-color:#030f27;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 300px;
    top: 0px;
}
#data59{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    font-size: 20px;
    margin: 20px;
    line-height: 30px;
}
#listed1{
    padding-top: 20px;
    color: white;
    list-style: url(./Icons/placeholder.png);
}
#listed2{
    color: white;
    list-style: url(./Icons/call.png);
    
}
#listed3{
    color: white;
    list-style: url(./Icons/envelope.png);
}
#data60{
    display: flex;
    width: 300px;
}
.IMG8{
    padding: 10px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white ;
    margin: 0px;
}
.IMG8:hover{
    padding: 10px;
    border-radius: 100px;
    background-color: #fdbe33;
    border: 1px solid #fdbe33;
}
#d17 span{
    color:#fdbe33;
    border-bottom: 5px solid #fdbe33;
}
#news{
    padding-top: 20px;
    width: 200px;
    font-size: 15px;
    color: white;
    line-height: 20px;
}
#data59 a{
    width: 250px;
    display: inline;
}
.linking{
    list-style-image: url(./Icons/right-arrow.png);
}
.linking1{
    padding-top: 20px;
    list-style-image: url(./Icons/right-arrow.png);
}
#Emails{
    margin-top: 10px;
    border-radius: 0px;
    border: 1px solid #030f27;
    height: 40px;
    width: 150px;
    padding-left: 10px;
    font-family: Poppins-Medium;
}
#Emails:focus{
    border-radius: 0px;
    border: 2px solid #030f27;
    font-family: Poppins-Medium;
}
#btn60{
    margin-top: 5px;
    margin-left: 1px;
    font-family: Poppins-Medium;
    width: 60px;
    height: 40px;
    border-radius: 0px;
    padding: 0px;
    background-color:#121518;
    color:#fdbe33;
    border: 1px solid #fdbe33;
}
#btn60:hover{
    background-color: #fdbe33;
    color: #121518;
}
/* footer footer */
#d18{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#030f27;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
}
#data61{
    width: 85%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    border-top: 1px solid rgba(255, 255, 255, 0.658);
    border-bottom: 1px solid rgba(255, 255, 255, 0.658);
}
/* this is copyright */
#d19{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #030f27;
}
#data62{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #030f27;
}
#data62 a{
    color: #fdbe33;
}
#data62 a:hover{
    color: #ffffff;
}
.ddd{
    display: flex;
    align-items: center;
}
